<%= fields_for('time_entries[]', time_entry) do |f| %>
  <%# trick to have automatically populated html id/names of fields %>
  <% time_entry.id = rnd = rand(9999)
  @object = time_entry
  @object_name = 'time_entry' -%>

  <div class="box" id="entry_<%= rnd %>">
    <%# errors section%>
    <% if time_entry.errors.any? %>
      <div class='flash error'>
        <ul>
          <% time_entry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%# end errors section%>

    <p>
      <%= label_for_field :project_id, rnd, :required => true %>
      <% projects = project_tree_options_for_select(@projects, :selected => @first_project) %>
      <%= f.select :project_id, projects, {},
        { :onchange => "changeIssuesForProject(#{rnd})", data: { url: load_assigned_issues_path } }%>
    </p>
    <%= render :partial => 'issues_selector', :locals => { :issues => @issues, :f => f, :rnd => rnd } %>
    <p>
      <%= check_box_tag("#{rnd}_only_yours", true, false, { :onchange => "changeIssuesForProject(#{rnd})"}) %>
      <span>Solo mostrar las tareas asignadas a mi</span>
      <%= check_box_tag("#{rnd}_not_closed", true, false, { :onchange => "changeIssuesForProject(#{rnd})"}) %>
      <span>No mostrar las tareas cerradas</span>
    </p>
    <p>
      <%= label_for_field :spent_on, rnd, :required => true %>
      <%= f.text_field :spent_on, :size => 10, :name => "time_entries[#{rnd}][spent_on]", :id => "time_entries_#{rnd}_spent_on", :class => 'spent_on' %><%= calendar_for("time_entries_#{rnd}_spent_on") %>
    </p>
    <p>
      <%= label_for_field :hours, rnd, :required => true %>
      <%= f.text_field :hours, :size => 6, :maxlength => 6 %>
    </p>
    <p>
      <%= label_for_field :comments, rnd %>
      <%= f.text_field :comments, :size => 100, :maxlength => 255 %>
    </p>
      <%= render :partial => 'activities_selector', :locals => {:rnd => rnd, :activities => @first_project.activities } %>
    <% time_entry.custom_field_values.each do |value| %>
      <p><%= custom_field_tag_with_label "time_entries[#{rnd}]", value %></p>
    <% end if time_entry.respond_to?(:custom_field_values) %>
  </div>
<% end %>
