<%= javascript_include_tag 'application', plugin: 'redmine-bulk_time_entry_plugin' %>
<h2>
<%= l(:label_bulk_time_entries) %>
<%= form_tag(add_entry_path, remote: true, method: 'put', id: 'specify-issue-id', style: "margin-left: 2em;") do %>
	<%= label_tag :specific_issue_id, "Añadir petición #" %>
	<%= text_field_tag :specific_issue_id %>
	<%= submit_tag "Enviar" %>
<% end %>
</h2>

<%= form_for :bulk_time_entry_title, remote: true, :url => {:action => 'save'}, :html => {:class => 'tabular'} do |f| %>
  <div id="entries">
    <%= render :partial => 'time_entry', :collection => @time_entries %>
  </div>
  <div id="add-entry">
    <%= link_to l(:label_bulk_time_add_another), add_entry_path, id: 'add-entry-link' %>
  </div>
  <br/>
  <%= submit_tag l(:button_save) %>
<% end %>

<% html_title l(:label_bulk_time_entries) %>
